*{background-color: darkturquoise; border: 1px solid black;}
/*body{background-color: cyan;}*/
ol{background-color: yellow; border: 1px solid black ; border-radius: 10px; }
#dipak{background-color: yellow;border: 1px solid black; border-radius: 10px;padding: 10px;} 
.dips{background-color: orange; border: 1px solid black; border-radius: 10px;padding: 10px;}