*{background-color: skyblue;
border: 1px solid red;}
/*body{border: 2px solid blueviolet;}*/
#dipa{background-color: hotpink; padding: 10px;}
.dips{background-color: blue;padding: 10px;}
ol{background-color: yellow;}